@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.header {
  background-color: #FAD1B7;
  padding: 25px 0;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.navbar-nav .nav-link {
  position: relative;
  font-size: 16px;
  color: #666;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ff5e5e;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #ff5e5e;
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.auth-buttons .btn-link {
  color: #88b388;
  margin-right: 10px;
}

.auth-buttons .btn-success {
  background-color: 396BA7B;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

.text-section {
  margin-top: 20px;
}

.welcome-text {
  color: 396BA7B;
  font-size: 18px;
  font-weight: 400;
}

.main-heading {
  color: #333;
  font-size: 48px;
  font-weight: 700;
}

.sub-heading {
  color: #666;
  font-size: 16px;
  margin: 20px 0;
}

.btn-group .btn {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
}

.btn-outline-success {
  border-color: 396BA7B;
  color: 396BA7B;
}

.image-section {
  text-align: right;
}

.header-image {
  max-width: 100%;
  max-height: 120%;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 36px;
  }

  .header-content {
    padding: 30px 0;
  }

  .text-section, .image-section {
    text-align: center;
  }

  .image-section {
    margin-top: 20px;
  }

  .auth-buttons {
    margin-top: 15px;
    text-align: center;
  }
}
