.home-section {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  align-items: flex-start;
}

.left-content {
  flex: 1;
  padding-right: 50px;
}

.right-content {
  display: flex;
  gap: 30px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.red-bar {
  width: 40px;
  height: 4px;
  background-color: #ff5e5e;
  margin-right: 10px;
}

.card-bar {
  width: 30px;
  height: 3px;
  background-color: #ff5e5e;
  margin: 0 auto 10px auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #1a1a1a;
  margin: 0;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #7a7a7a;
  margin-bottom: 30px;
}

.learn-more {
  font-family: 'Roboto', sans-serif;
  color: #5cb85c;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.learn-more:hover {
  color: #4cae4c;
}

.learn-more .arrow {
  margin-left: 5px;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.learn-more:hover .arrow {
  transform: translateX(5px);
}

.package-card {
  background-color: white;
  border: 1px solid #ebebeb;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  position: relative;
}

.package-card img {
  margin-bottom: 10px;
}

.package-card h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
  margin-top: 10px;
}

.package-card p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #7a7a7a;
}

.text-section {
  margin-top: 20px;
}

.welcome-text {
  color: #88b388;
  font-size: 18px;
  font-weight: 400;
}

.main-heading {
  color: #333;
  font-size: 48px;
  font-weight: 700;
}

.sub-heading {
  color: #666;
  font-size: 16px;
  margin: 20px 0;
}

.btn-group .btn {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
}

.btn-success {
  background-color: #88b388;
  border: none;
}

.btn-outline-success {
  border-color: #88b388;
  color: #88b388;
}

.image-section {
  text-align: right;
}

.header-image {
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .main-heading {
      font-size: 36px;
  }
  
  .header {
      padding: 30px 0;
  }

  .text-section, .image-section {
      text-align: center;
  }
  
  .image-section {
      margin-top: 20px;
  }
}
